body{
background:#0f172a;
font-family:Poppins,sans-serif;
color:white;
padding:30px;
}

table{
width:100%;
border-collapse:collapse;
background:#1e293b;
}

th,td{
padding:15px;
border:1px solid #334155;
}

.accepted{
color:#22c55e;
font-weight:bold;
}

.pending{
color:#facc15;
font-weight:bold;
}

.rejected{
color:#ef4444;
font-weight:bold;
}