body{
background:#0f172a;
font-family:Poppins,sans-serif;
color:white;
padding:40px;
}

.container{
max-width:800px;
margin:auto;
background:#1e293b;
padding:30px;
border-radius:20px;
}

h1{
margin-bottom:25px;
color:#38bdf8;
}

.job-form{
display:flex;
flex-direction:column;
gap:15px;
}

input,
select,
textarea{
padding:15px;
border:none;
border-radius:10px;
background:#0f172a;
color:white;
}

textarea{
height:150px;
resize:none;
}

button{
padding:15px;
border:none;
border-radius:10px;
background:#38bdf8;
font-weight:600;
cursor:pointer;
}