body{
background:#0f172a;
font-family:Poppins,sans-serif;
color:white;
padding:30px;
}

.chat-container{
max-width:800px;
margin:auto;
}

.message{
padding:15px;
margin:15px 0;
border-radius:15px;
width:70%;
}

.recruiter{
background:#1e293b;
}

.student{
background:#38bdf8;
color:black;
margin-left:auto;
}